@model Diploma.Models.Address

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 class="modal-title" id="myModalLabel">Местоположение</h4>
    <p>@Html.ActionLink("Вернуться к списку объектов", "Index", "Facility")</p>
</div>


<div id="canvas" style="height: 600px; width: 1000px;"></div>

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            GetMap();
        });

        // Функция загрузки
        function GetMap() {
            debugger;

            google.maps.visualRefresh = true;
            // установка основных координат
            //var Moscow = new google.maps.LatLng(55.752622, 37.617567);
            var Moscow = new google.maps.LatLng(54.384036, 20.645039);
            //54.384036, 20.645039
            // Установка общих параметров отображения карты, как масштаб, центральная точка и тип карты
            var mapOptions = {
                zoom: 15,
                center: Moscow,
                mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
            };

            // Встраиваем гугл-карты в элемент на странице и получаем объект карты
            var map = new google.maps.Map(document.getElementById("canvas"), mapOptions);

            // Настраиваем красный маркер, который будет использоваться для центральной точки
            var myLatlng = new google.maps.LatLng(54.384036, 20.645039);

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'Станции метро'
            });

            // Берем для маркера иконку с сайта google
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png');

            var position = {
                Latitude: @Model.GeoLatitude,
                Longitude: @Model.GeoLongitude,
            };

            var address = {
                Locality: "@Model.Locality",
                Street: "@Model.Street",
                HouseNumber: "@Model.HouseNumber"
            };
            var infoWindow = new google.maps.InfoWindow({
                content: "<div><h4>Населенный пункт: " + address.Locality + "</h4><div><h4>Улица: "
                        + address.Street + "</h4></div><div><h4>Номер дома: " + address.HouseNumber + " </h4></div></div>"
            });

            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.open(map, marker);
            });
        }
    </script>
}
